<dl>
  <dt>
    <label for='bookmark_url'> Bookmark URL: </label>
  </dt>
  <dd>
    <input id='bookmark_url' type='text' name='bookmark[url]' value='<%= @bookmark.url %>' autofocus>
  </dd>
  <dt>
    <label for='bookmark_title'> Title: </label>
  </dt>
  <dd>
    <input id='bookmark_title' type='text' name='bookmark[title]' value='<%= @bookmark.title %>'>
  </dd>
  <dt>
    <label for='bookmark_genre'> Genre: </label>
  </dt>
  <dd>
    <input id='bookmark_genre' type='text' name='bookmark[genre]' value='<%= @bookmark.genre %>'>
  </dd>
  <dt>
    <label for='bookmark_image'> Bookmark image: </label>
  </dt>
  <dd>
    <input id='bookmark_image' type='text' name='bookmark[image]' value='<%= @bookmark.image %>'>
  </dd>
  <dt>
    <label for='bookmark_details'> Details: </label>
  </dt>
  <dd>
    <input id='bookmark_details' type='text' name='bookmark[details]' value='<%= @bookmark.details %>'>
  </dd>
</dl>

<div class='clear_both'></div>