<a href='/bookmarks/new'> New bookmark </a>

<ul>
<% @bookmarks.each do |bookmark| %>
<li>
<a href= '<%= bookmark.genre %>'>
<p><%= bookmark.genre %></p></a>
</li>
</ul>
<% end %>
<ul>
<li>
<a href= '/bookmarks'>
<p> All </p></a>
</li>
</ul>

<ul>
  <% @bookmarks.select do |bookmark| if @genre == bookmark.genre %>
    <li>
      <a href= '<%=bookmark.url%>'><p>URL: <%= bookmark.url %></p></a>
      <p>Title: <%= bookmark.title %></p></a>
      <p>Genre: <%= bookmark.genre %></p>
      <img src="<%= bookmark.image %>">
      <p>Details: <%= bookmark.details %></p>
      <button><a href='bookmarks/<%=bookmark.id%>/edit'> Edit bookmark </a></button>
      <form action='/bookmarks/<%=bookmark.id%>/delete' method='post'>
        <button> Delete bookmark </button>
      </form>
    </li>
    <% end %>
  <% end %>
</ul>